.wrapper {
  background-color: var(--form-wrapper-bg-color);
  padding: 40px;
  border: 1px solid var(--form-border-color);
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 736px;
}

.title {
  margin-bottom: 44px;
  color: var(--title-color);
}

.queryTitle {
  color: var(--label-color);
  margin-bottom: 16px;

  span {
    color: var(--star-color);
  }
}

.nameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.labelInputNameContainer,
.labelInputEmailContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.nameInput {
  min-width: 320px;
  height: 50px;
}

.emailInput {
  height: 50px;
}

.radioContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.radioLabel {
  min-width: 320px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color .3s ease-in, border-color .3s ease-in;

  &:hover,
  &:focus {
    background-color: var(--radio-hover-bg-color);
    border-color: var(--radio-hover-border-color);
  }
}

.radioLabelText {
  color: var(--label-color);
  margin-left: 24px;
}

.customRadio {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--focus-border-color);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

input[type="radio"]:checked+.customRadio::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--hover-color);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioInput {
  margin: 0;
}

.labelInputMessageContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.textArea {
  height: 104px;
  margin-bottom: 44px;
}

.messageError {
  bottom: 26px;
}

.labelInputCheckBoxContainer {
  margin-bottom: 44px;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}

.agreeError {
  bottom: -18px;
}

.checkboxBorder {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked+.checkboxBorder {
  background-color: var(--hover-color);
}

input[type="checkbox"]:checked+.checkboxBorder::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  width: 5px;
  height: 10px;
  border: 1px solid var(--check-border-color);
  border-width: 0 2px 2px 0;
  transform: translateX(-45%) translateY(-50%) rotate(45deg);
}

.checkboxLabel {
  margin-left: 28px;
  margin-bottom: 0;
}

.checkbox {
  margin: 0;
}

.errorText {
  position: absolute;
  bottom: 22px;
  left: 0;
  color: var(--error-text-color);
  font-size: 14px;
}

.errorBorder {
  border-color: var(--error-border-color);
}

.successBorder {
  border-color: var(--success-border-color);
}

@media (max-width: 768px) {
  .wrapper {
    padding: 24px;
  }

  .nameContainer {
    flex-direction: column;
  }

  .nameInput,
  .radioLabel {
    min-width: 260px;
  }

  .radioContainer {
    flex-direction: column;
    gap: 16px;
  }

  .labelInputCheckBoxContainer {
    margin-bottom: 60px;
  }

  .agreeError {
    bottom: -30px;
  }

  .error {
    bottom: 12px;
  }
}

@media (max-width: 375px) {
  .labelInputNameContainer {
    width: 100%;
  }

  .nameInput,
  .radioLabel {
    min-width: unset;
    width: 100%;
  }
}