@import './reset.css';

@font-face {
  font-display: swap;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/karla-v31-latin-regular.woff2') format('woff2');

}


@font-face {
  font-display: swap;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/karla-v31-latin-700.woff2') format('woff2');

}

:root {
  --font-family: "Karla", sans-serif;
  --font-weight: 400;
  --font-size: 16px;
  --bg-color: #E0F1E7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background-color: var(--bg-color);
}