@import './reset.css';

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/karla-v31-latin-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/karla-v31-latin-700.woff2') format('woff2');

}

:root {
  --font-family: "Karla", sans-serif;
  --font-weight: 400;
  --font-size: 16px;

  --bg-color: #E0F1E7;
  --button-bg-color: #0C7D69;
  --form-wrapper-bg-color: #fff;
  --modal-bg-color: #2A4244;

  --label-color: #3B4345;
  --title-color: #2C3C3C;
  --star-color: #5B8B7B;
  --error-text-color: #d94747;
  --button-text-color: #E4FFFF;
  --modal-title-color: #fff;
  --modal-description-color: #ffffff93;

  --modal-icon-color: #fff;

  --border-color: #939C9B;
  --focus-border-color: #5B8B7B;
  --error-border-color: #d94747;
  --success-border-color: #5B8B7B;
  --check-border-color: #fff;
  --form-border-color: #2C3C3C;

  --hover-color: #063F36;
  --radio-hover-bg-color: #C5F8DA;
  --radio-hover-border-color: #0B6A54;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background-color: var(--bg-color);
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

label {
  color: var(--label-color);
  margin-bottom: 10px;
  cursor: pointer;

  span {
    color: var(--star-color);
  }
}

input,
textarea {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 12px;
  resize: none;
  margin-bottom: 40px;
  transition: border-color .3s ease-in;

  &:hover,
  &:focus {
    border-color: var(--focus-border-color);
    outline: none;
  }
}



button {
  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  width: 100%;
  display: block;
  border-radius: 8px;
  height: 50px;
  transition: background-color .3s ease-in;

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 768px) {

  input,
  textarea {
    margin-bottom: 30px;
  }

}